.App {
  text-align: center;
  height: 100px;
  background: linear-gradient(#faedcd, #e9edc9);
}

.App h1 {
  font-size: 75px;
  font-family: 'Times New Roman', Times, serif;
  color: #0ab17f;
  letter-spacing: 15px;
  text-shadow: 2px 1px 1px black;
}

